:root {
    --bg-black: #1c1c1c;
    --bg-white: #ffffff;
    --bg-gary: #aeaeae;
    --bg-gradient: linear-gradient(70deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    --bg-box-shadow: rgba(255, 250, 255, 0.2) 2px 2px 4px;
    --bg-disbled: #545454;
    --bg-disbled-ligth: rgb(143, 143, 143);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    padding: 30px 50px;
    background-color: var(--bg-black);
}

.app-title {
    color: var(--bg-white);
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--bg-white);
    padding-bottom: 20px;
    margin-bottom: 40px;
}


/* ESTILOS DE FORMULARIO*/

.search-gifs-form {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.control-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.control-container input {
    width: 100%;
    height: 36px;
    padding: 8px 38px 8px 15px;
    border: none;
    outline: none;
    border-radius: 2px 0px 0px 2px;
}

.control-container i {
    position: absolute;
    font-size: 12px;
    right: 15px;
    cursor: pointer;
    color: var(--bg-gary);
}

.search-gifs-form button {
    width: 40px;
    height: 36px;
    cursor: pointer;
    color: var(--bg-white);
    border: none;
    border-radius: 0px 2px 2px 0px;
    background: var(--bg-gradient);
    box-shadow: var(--bg-box-shadow);
}

.search-gifs-form button i {
    font-size: 14px;
}

.action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    border: none;
    padding: 6px 20px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    color: var(--bg-white);
    background: var(--bg-gradient);
    box-shadow: var(--bg-box-shadow);
    border-radius: 2px;
}
.btn i {
    margin-left: 10px;
}

/* detecta el click del boton */
button.btn:active {
    transform: translateY(1px);
}
/* detecta boton desabilitado */

button.btn:disabled {
    background-color: red;
    cursor: not-allowed;
    color: var(--bg-disbled);
    background: var(--bg-disbled-ligth);
}

/* detecta que al boton desbilitado se le da click */
button.btn:disabled:active {
    transform: none;
}

/* estilos de gifs vacios */

.empty-gifs-container {
    display: none;
}

.empty-gifs-container .active {
    display: block;
}

.empty-gifs-container .empty-gifs {
    margin-top: 25px;
    text-align: center;
    color: var(--bg-white);
}


/* estilos de gifs */

.gifs-container {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.gif-card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    box-shadow: var(--bg-box-shadow);
    position: relative;
}

.gif-card img {
    max-width: 100%;
    border-radius: 2px 2px 0px 0px;
}
.gif-card .details {
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-wrap: wrap;
    background-color:rgba(0, 0, 0, 0.5);
}
.gif-card i {
    color: var(--bg-white);
    cursor: pointer;
    margin: 10px;
}

.gif-card:hover .details {
    display: flex;
}

.gif-card .name {
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
    font-weight: 600;
    background-color: var(--bg-white);
    border-radius: 0px 0px 2px 2px;
}

@media (max-width: 360px) {
    body {
        padding: 30px 20px;
    }
}