:root {
    --bg-black: #1c1c1c;
    --bg-white: #ffffff;
    --bg-gary: #aeaeae;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    padding: 30px 50px;
    background-color: var(--bg-black);
}

.app-title {
    color: var(--bg-white);
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--bg-white);
    padding-bottom: 20px;
    margin-bottom: 40px;
}


/* ESTILOS DE FORMULARIO*/

.search-gifs-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.control-container input {
    width: 100%;
    height: 36px;
    padding: 8px 38px 8px 15px;
    border: none;
    outline: none;
    border-radius: 2px 0px 0px 2px;
}

.control-container i {
    position: absolute;
    font-size: 12px;
    right: 15px;
    cursor: pointer;
    color: var(--bg-gary);
}

.search-gifs-form button {
    width: 40px;
    height: 36px;
    cursor: pointer;
    color: var(--bg-white);
    border: none;
    border-radius: 0px 2px 2px 0px;
    background: linear-gradient(70deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);;
    box-shadow: rgba(255, 250, 255, 0.2) 2px 2px 4px;
}

.search-gifs-form button i {
    font-size: 14px;
}